{% extends "header.html" %}
{% load static %}
{% block content %}

    <div class="full-bar-search-wrap">
      <div class="close-search"></div>
      <div class="search-form-wrapper">
        <form method="get" class="search-form" action="#">
          <div class="search-form-group"> <input name="s" type="text" class="form-control" value=""
              placeholder="Search...">
            <div class="search-line"></div>
          </div>
          <button type="submit" class="search-submit"><i class="icon-search"></i></button>
        </form>
      </div>
    </div>
    <!-- End header  -->
    <!-- Start page hero  -->
    <section class="page-hero" data-background="assets/img/page-hero.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav aria-label="breadcrumb" class="header-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Stories</li>
              </ol>
            </nav>
            <h1 class="page-title">Latest Stories</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- End page hero  -->
    <section class="pt-120 pb-120">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="news-grids">
              <div class="row">
                <div class="col-md-4">
                  <div class="post-block">
                    <div class="pb-thumb">
                      <img src="assets/img/post-1.jpg" alt="post image" class="img-fluid">
                      <div class="pb-date">
                        <div class="pb-box">
                          <span class="day">30</span>
                          <span class="month">Apr</span>
                        </div>
                      </div>
                    </div>
                    <div class="pb-content">
                      <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                          Healthy Start</a></h2>
                      <div class="pb-meta">
                        <div class="pb-author">
                          <i class="icon-circle-user"></i>by Admin
                        </div>
                        <div class="pb-comment">
                          <i class="icon-comments"></i>2 Comments
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="post-block">
                    <div class="pb-thumb">
                      <img src="assets/img/post-2.jpg" alt="post image" class="img-fluid">
                      <div class="pb-date">
                        <div class="pb-box">
                          <span class="day">16</span>
                          <span class="month">Apr</span>
                        </div>
                      </div>
                    </div>
                    <div class="pb-content">
                      <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                          Healthy Start</a></h2>
                      <div class="pb-meta">
                        <div class="pb-author">
                          <i class="icon-circle-user"></i>by Admin
                        </div>
                        <div class="pb-comment">
                          <i class="icon-comments"></i>2 Comments
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="post-block">
                    <div class="pb-thumb">
                      <img src="assets/img/post-3.jpg" alt="post image" class="img-fluid">
                      <div class="pb-date">
                        <div class="pb-box">
                          <span class="day">02</span>
                          <span class="month">Mar</span>
                        </div>
                      </div>
                    </div>
                    <div class="pb-content">
                      <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                          Healthy Start</a></h2>
                      <div class="pb-meta">
                        <div class="pb-author">
                          <i class="icon-circle-user"></i>by Admin
                        </div>
                        <div class="pb-comment">
                          <i class="icon-comments"></i>2 Comments
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="post-block">
                    <div class="pb-thumb">
                      <img src="assets/img/post-3.jpg" alt="post image" class="img-fluid">
                      <div class="pb-date">
                        <div class="pb-box">
                          <span class="day">02</span>
                          <span class="month">Mar</span>
                        </div>
                      </div>
                    </div>
                    <div class="pb-content">
                      <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                          Healthy Start</a></h2>
                      <div class="pb-meta">
                        <div class="pb-author">
                          <i class="icon-circle-user"></i>by Admin
                        </div>
                        <div class="pb-comment">
                          <i class="icon-comments"></i>2 Comments
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="post-block">
                    <div class="pb-thumb">
                      <img src="assets/img/post-3.jpg" alt="post image" class="img-fluid">
                      <div class="pb-date">
                        <div class="pb-box">
                          <span class="day">02</span>
                          <span class="month">Mar</span>
                        </div>
                      </div>
                    </div>
                    <div class="pb-content">
                      <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                          Healthy Start</a></h2>
                      <div class="pb-meta">
                        <div class="pb-author">
                          <i class="icon-circle-user"></i>by Admin
                        </div>
                        <div class="pb-comment">
                          <i class="icon-comments"></i>2 Comments
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="post-block">
                    <div class="pb-thumb">
                      <img src="assets/img/post-3.jpg" alt="post image" class="img-fluid">
                      <div class="pb-date">
                        <div class="pb-box">
                          <span class="day">02</span>
                          <span class="month">Mar</span>
                        </div>
                      </div>
                    </div>
                    <div class="pb-content">
                      <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                          Healthy Start</a></h2>
                      <div class="pb-meta">
                        <div class="pb-author">
                          <i class="icon-circle-user"></i>by Admin
                        </div>
                        <div class="pb-comment">
                          <i class="icon-comments"></i>2 Comments
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
