{% extends "header.html" %}
{% load static %}
{% block content %}
=
    <div class="full-bar-search-wrap">
      <div class="close-search"></div>
      <div class="search-form-wrapper">
        <form method="get" class="search-form" action="#">
          <div class="search-form-group"> <input name="s" type="text" class="form-control" value=""
              placeholder="Search...">
            <div class="search-line"></div>
          </div>
          <button type="submit" class="search-submit"><i class="icon-search"></i></button>
        </form>
      </div>
    </div>
    <!-- End header  -->
    <!-- Start page hero  -->






    <section class="page-hero" data-background="assets/img/page-hero.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav aria-label="breadcrumb" class="header-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cause</li>
              </ol>
            </nav>
            <h1 class="page-title">{{ obj.Name }}</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- End page hero  -->
    <section class="pt-120 pb-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="cause-content">
              <div class="cause-summary">
                <div class="cause-thumbnail">
                  <img src={{ obj.Image.url }} alt="cause-thumbnail" class="img-fluid">
                </div>

              </div>
              <h2 class="cause-title">{{ obj.Name }}</h2>
              {{ obj.Full_Detail|safe }}
              
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}
